.waiting-text {
	font-size: 30px;
	text-align: center;
	position: relative;
	z-index: 2; /* Place it above other content */
  }
  
  .waiting-text::before {
	content: "Waiting for pylir...";
	position: absolute;
	top: 0;
	left: 1;
	/* right: 0; */
	font-size: 120px;
	white-space: nowrap;
	animation: wavy 2s linear infinite;
	/* background-color: lightslategray;
	height: 100rem;
	opacity: 50%; */
  }
  
  @keyframes wavy {
	0% {
	  transform: translateY(0);
	}
	25% {
	  transform: translateY(-5px);
	}
	50% {
	  transform: translateY(0);
	}
	75% {
	  transform: translateY(5px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  /* .game{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 100%;
  }

  .noti-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lightslategray;
	opacity: 80%;
  } */